header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #038C7F;
    color: white;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px #000;
    z-index: 1000;
}

.logo {
    width: 10em;
}

.titulo{
    margin-right: 41.5em;
}

.sections {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    height: 25px;

}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 4em;
    font-size: 1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #154432;
}


.cadastre {
    color: #fff;
    
}

.botao_entrar {
    padding: .3em;
    color: #FFFEE6;
    background-color: #016458;
    margin-right: 5em;
    width: 7em;
    height: 3em;
}

body {
    background-color: #C3FEDC;
    
}

.paleta {
    background-color: #016458;
    color: #FFF;
    margin-top: 3.4em;
    margin-left: -.5em;
    position: absolute;
    height: 400px;
    width: 650px;
}

    .text_paleta {
        font-size: 48px;
        font-weight: bold;
        margin-top: 1em;
        margin-left: 1.5em;
    }

    .simbolo {
        margin-top: -60em;
        margin-left: 25em;
    }

    .bolinhas {
        margin-top: 7em;
        margin-left: 4em;
        
    }   

.descricao{
    background-color: #00AB71;
    color: #FFF;
    margin-top: 28em;
    margin-left: -.5em;
    position: absolute;
    height: 400px;
    width: 650px;
}

    .arvore{
        margin-top: -44em;
        margin-left: 40em;
        width: 40.55em;
        height: 750px;
    }

    .tit_descricao{
        background-color:#016458;
        width: 20em;
        margin-top: 3em;
        margin-left: 3.2em;
        padding: .3em 0em 0em .1em;
    }

    .desc{
        text-align: left;
        width: 26em;
        margin-left: 3em;
        font-size: 20px;
    }


footer {
    background-color: #E8FFE0;
    /* azul escuro */
    color: #66A182;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: -80em;
    left: -1em;
    width: 101.2%;
    height: 2em;
    font-size: 1em;
    box-shadow: 0 2px 10px #66A182;
    z-index: 1000;
}


/* página de cadastro */
.form-box {
    background-color: #038C7F;
    border-radius: 15px;
    padding: 30px;
    width: 35em;
    margin-top: 10em;
    position: relative;
    margin-left: 20em;
}

.voltar {
    position: absolute;
    left: 15px;
    top: 8px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    margin-left: 8em;
    color: #E8FFE0;
}

input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 25em;
    margin: 0 auto;
    display: block;
}

.radiozinho {
    margin-top: 10px;
    font-size: 14px;
    margin: 0 auto;
    color: #E8FFE0;
}

.radios {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    font-size: 14px;
    margin: 0 auto;
    display: block;
}

.opcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
    margin: 0 auto;
    justify-content: space-between;
}

span {
    margin-bottom: 5px;
}


.opcao .radio-title {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    border-radius: 10px;

}

.opcao.produtor .radio-title {
    background-image: image('produtor.png');
}

.submit-btn {
    background-color: #016458;
    border: none;
    padding: 10px;
    width: 10em;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: not-allowed;
    margin: 0 auto;
}

/* .sn_section{
    margin-top: 3em;
    height: 760px;
    margin-left: -.5em;
    width: 80.55em;
    background-color: #038C7F;

} */

/* .tit_sn{
    text-align: center;
    font-size: 5em;
    width: 12em;
    margin: 0 auto;
    /* margin-top: 1em; */
    color: #E8FFE0;
    background-color:#016458;
} */

/* .h1_sn{
    color: #E8FFE0;
    margin: 2em 0 0 7em;
}

.h3_sn{
    color: #E8FFE0;
    margin: 1.5em 0 0 9em;
    width: 27em;
}

.text_sn{
    color: #E8FFE0;
    width: 31em;
    margin: 1.5em 2em 0 10.5em;
} */


/* .fortes_sede{
    margin: -17em 0 0 43em;
    width: 427px;
} */